// Colors variables
$base-color: #212121;
$grey-color: #333;
$red-color: #c3002f;
$red-dark-color: #900000;
$grey-bright-color: #4c4c4c;
$grey-icon-color: #979797;
$white-color: #fff;
$white-dark-color: #f3f2f2;

// General styles
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: $base-color;
}

a {
    text-decoration: none;
    color: $base-color;
}

.headers {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

// Slider dots styles
.slick-dots {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 16px 0;
    list-style-type: none;

    li {
        margin: 0 0.25rem;
    }

    button {
        display: block;
        width: 16px;
        height: 16px;
        padding: 0;

        border: none;
        border-radius: 100%;
        background-color: $grey-color;

        text-indent: -9999px;
    }

    li.slick-active button {
        background-color: $red-color;
    }

}

// Header section
.header {
    padding: 0 14%;

    &__container {
        margin: 0 auto;
        max-width: 1370px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0;

        .logo {

            &__main {
                font-size: 50px;
                line-height: 50px;
                font-weight: 700;
                text-transform: capitalize;
                color: $grey-color;

                span {
                    text-transform: capitalize;
                    display: inline-block;
                    color: $red-color;
                }
            }

            &__secondary {
                display: flex;
                justify-content: flex-end;
                color: $grey-color;

                span {
                    margin-left: 3px;
                    font-weight: 700;
                    color: $grey-color;
                }
            }

            &__phone {
                font-size: 24px;

                span {
                    color: $red-color;
                }
            }
        }
    }

}

// Navigation section
.navigation {
    background-color: $grey-bright-color;
    border-bottom: 3px solid $grey-color;
    padding: 0 14%;

    &__container {
        padding: 12px;


        color: $white-color;

        .title-bar {
            background-color: $grey-bright-color;
            color: $white-color;

            .title-bar-title {
                margin-left: 5px;
                font-size: 20px;
                font-weight: 600;
                color: $white-color;
            }
        }

        .top-bar-center {
            .dropdown {
                display: flex;
                justify-content: center;

                .dropdown__element {
                    padding: 0 50px;
                }

                a {
                    padding: 11px 0;
                    transition: all .6s ease;
                    color: $white-color;
                }

                a:hover {
                    transition: all .4s ease;
                    color: $red-color;
                }
            }

        }
    }
}

// Main slider section
.main__slider {
    display: flex;
    text-align: center;

    .slider__container {
        width: 100%;
        padding: 0;

        .slider__image {
            max-width: 1920px;
            width: 100%;
            height: auto;
            margin: 0 auto;
        }

        .slider__image-mobile {
            display: none;
        }
    }

    .slick-arrow {
        width: 30px;
        height: 150px;
        font-weight: 700;
        font-size: 20px;
        background-color: $grey-color;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 44%;
        z-index: 3;

        i {
            color: $white-color;
        }
    }

    .slider-btn-forward {
        right: 0;
    }

    .slider-btn-back {
        left: 0;
    }
}

// Form section
.form {
    padding: 0 14%;
    border-bottom: 4px solid $red-dark-color;
    background-color: $red-color;

    form {
        padding: 20px 0 10px;
        max-width: 1370px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }

    &__selects {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__select {

        padding: 0 15px;

        .select {
            border-radius: 4px;
            margin-bottom: 10px;
        }

    }

    &__submit {
        input {
            border: none;
            font-size: 14px;
            padding: 15px 45px;
            border-radius: 4px;
            margin: 0 15px;
            cursor: pointer;
            border-bottom: 2px solid $grey-color;
            background-color: $grey-bright-color;
            color: $white-color;
        }

    }


}

// Products section
.products {
    padding: 0 14%;

    &__container {
        display: flex;
        justify-content: space-around;
        max-width: 1370px;
        margin: 0 auto;
        padding: 70px 0;

        .product {
            &__container {
                text-align: center;
                margin: 0 15px;
                background-color: $grey-bright-color;
                border-bottom: 2px solid $grey-color;
            }

            &__image {

                width: 100%;
                height: 235px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: right;

                &-usedcars {
                    background-image: url('../images/used-cars.jpg');
                }

                &-service {
                    background-image: url('../images/service.jpg');
                }

                &-finance {
                    background-image: url('../images/finance.jpg');
                }

                &-warranty {
                    background-image: url('../images/warranty.jpg');
                }
            }

            &__title {
                font-size: 24px;
                font-weight: 600;
                padding: 0 25px;
                margin: 5px auto;
                color: $white-color;
            }

            &__description {
                padding: 0 25px;
                font-size: 14px;
                color: $white-color;
            }
        }

    }
}

// Description section
.description {
    padding: 0 14%;
    background-color: $white-dark-color;

    &__container {
        padding: 50px 0;
        margin: 0 auto;
        max-width: 1370px;
        text-align: center;
    }

    &__paragraph {
        margin: 40px auto 0;
        padding: 0 25px;
        font-size: 14px;
    }
}

// Secondary slider section
.slider__container {
    padding: 50px 0;

    .slider__products {
        margin-top: 50px;
        padding: 0 14%;

        .slider__product {
            margin: 0 15px;
            position: relative;
            background-color: $red-color;
            border-bottom: 5px solid $red-dark-color;
        }

        .slider__icon {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 20px;
            color: $white-color;
        }

        .slider__description {
            padding: 0 15px;
            margin: 10px auto 5px;
            text-align: center;
            font-size: 18px;
            color: $white-color;
        }

        .slider__description-secondary {
            margin: 5px auto;
            font-size: 16px;
        }

        .slider__price {
            font-size: 23px;
            font-weight: 600;
            text-align: center;
            margin: 5px auto;
            color: $white-color;
        }

        .slick-arrow {
            width: 30px;
            height: 150px;
            font-weight: 700;
            font-size: 20px;
            background-color: $grey-color;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 12%;
            z-index: 3;

            i {
                color: $white-color;
            }
        }

        .slider-btn-forward-secondary {
            right: 0;
        }

        .slider-btn-back-secondary {
            left: 0;
        }
    }
}

// Path page section
.path {
    padding: 0 14%;
    background-color: $grey-bright-color;

    &__container {
        padding: 30px 0;
        display: flex;
    }

    &__description {
        display: inline-block;
        color: $white-color;
        margin: 0 6px;

        i {
            color: $grey-icon-color;
        }
    }

}

// Footer section
.footer {
    background-color: $grey-color;
    display: flex;
    flex-direction: column;
    padding: 60px 0;

    &__icons {
        max-width: 400px;
        margin: 0 auto 30px;
        display: flex;
        flex-direction: row;

        i {
            margin: 0 10px;
            font-size: 40px;
            transition: all .6s ease;
            color: $white-color;
        }

        i:hover {
            transition: all .4s ease;
            color: $red-color;
        }
    }

    &__info {
        max-width: 400px;
        margin: 12px auto;
        text-align: center;
        color: $white-color;

    }
}

// Media Queries 
@media(max-width: 1600px) {

    .header,
    .navigation,
    .form,
    .products,
    .description,
    .slider__container .slider__products,
    .path {
        padding: 0 10%;
    }
}

@media(max-width: 1400px) {

    .navigation,
    .form,
    .products,
    .description,
    .slider__container .slider__products,
    .path {
        padding: 0 5%;
    }
}

@media(max-width: 1250px) {
    .navigation {
        &__container {
            .top-bar-center {
                .dropdown {
                    .dropdown__element {
                        padding: 0 30px;
                    }
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    .products {
        &__container {
            .product {
                &__image {
                    height: 205px;
                }

                &__description {
                    padding: 0 15px;
                }
            }

        }
    }
}

@media(max-width: 1023px) {
    .navigation {
        &__container {
            .top-bar-center {
                .dropdown {
                    .dropdown__element {
                        font-size: 14px;
                        padding: 0 20px;
                    }
                }
            }
        }
    }

    .main__slider {
        .slick-arrow {
            height: 110px;
        }
    }

    .products {
        &__container {
            .product {
                &__container {
                    margin: 15px;
                }

                &__image {
                    height: 255px;
                }

                &__description {
                    padding: 0 35px;
                }
            }

        }
    }

    .slider__container {
        .slider__products {
            .slick-arrow {
                top: 35%;
                height: 110px;
            }
        }
    }
}

@media(max-width: 720px) {
    .navigation {
        &__container {
            .top-bar-center {
                .dropdown {
                    .dropdown__element {
                        padding: 0 15px;
                    }
                }
            }
        }
    }

}

@media(max-width: 640px) {

    .navigation {
        &__container {
            padding: 0;

            .top-bar-center {
                .dropdown {
                    flex-direction: column;

                    a {
                        font-size: 16px;
                    }
                }

            }
        }
    }

    .main__slider {
        flex-direction: column;

        .slider__container {
            .slider__image-desktop {
                display: none;
            }

            .slider__image-mobile {
                display: block;
            }
        }
    }

    .form {
        form {
            align-items: center;
        }

        &__submit {
            width: 80%;

            input {
                width: 100%;
                margin: 20px auto 10px;
            }

        }


    }
}

@media(max-width: 530px) {

    .header {
        &__container {
            flex-direction: column;
            padding: 30px 0;

            .logo {
                &__phone {
                    margin-top: 15px;
                }
            }
        }
    }
}

@media(max-width: 430px) {

    .footer {
        &__info {
            max-width: 240px;

        }
    }
}